.navbar {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.navbar a{
    text-decoration: none;
    color: pink;
}